<mat-expansion-panel  class="mat-elevation-z0 mat-expansion-panel" expanded>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="titleExpansionPanel">{{title}}</div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
