.FilterHeader{
  display: grid;
  grid-template-columns: 30px 3fr 1fr;
  grid-template-rows: 1fr;
  height: 3rem;
  margin-left: 1rem;
  margin-right:1rem;
  align-items: center;
}

.headerBack{
  cursor: pointer;
}

.headerTitle{
  text-align: center;
  font-size: 17px;
}

.headerClear{
  color: #90a4ae;
  text-align: right;
  font-size: 13px;
  cursor: pointer;
}

.matIcon{
  font-size: 15px;
  align-items: center;
  display: flex;
}
