<div class="FilterHeader">
  <div class="headerBack">
    <mat-icon class="matIcon">arrow_back_ios</mat-icon>
  </div>
  <div class="headerTitle">{{title}}</div>
  <div class="headerClear">Clear all</div>
</div>
<mat-divider></mat-divider>


