<div class="screen">
  <app-header title="Search by title"></app-header>

  <div class="screenData">
    <div class="containerScreenData">
      <div class="mtb-1">
        <app-input-autocomplete [data]="store.searchByTitleArray" iconPrefix="search" placeholder="Search by title"></app-input-autocomplete>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>
