@import '../../styles/variables.scss';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.screen{
  border-color: black;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 0;
  margin: 0;
}

.screenData{
  overflow-x: hidden;
  position: relative;
}

.containerScreenData{
  position: absolute;
  padding: 0;
  height: 100%;
  width: stretch;
  margin-left: 1em;
  margin-right: 1em;
}

.checkBox{
  margin-top: 0.5em;
}

.checkBox:hover{
  background-color: #f9fdff;
}

//Группировка элементов
.group{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

//Заголовок группы
.titleGroup{
  color: $element-color;
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
}

//отступ сверху
.mt-1{
  margin-top: 1em;
}

//отступ снизу
.mb-1{
  margin-bottom: 1em;
}

//отступ снизу и сверху
.mtb-1{
  margin-top: 1em;
  margin-bottom: 1em;
}

