<div class="screen">
  <app-header title="Filters"></app-header>

  <div class="screenData">
    <div class="containerScreenData">
      <div class="titleGroup">Search by title and location</div>
      <app-input placeholder="What" iconPrefix="search"></app-input>
      <app-input placeholder="Where" iconPrefix="location_on"></app-input>

      <mat-divider></mat-divider>

      <div class="titleGroup">Category</div>

      <div>
        <mat-chip-list>
          <app-chip title="Doctor"></app-chip>
          <app-chip title="Teacher"></app-chip>
        </mat-chip-list>
      </div>

      <div class="mt-1">
        <app-input placeholder="Search category" iconPrefix="search"></app-input>
      </div>

      <app-expansion-panel title="Job type">
        <div class="checkBox">
          <mat-checkbox>One time</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Part time</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Full time</mat-checkbox>
        </div>
        <mat-slide-toggle>I am looking for Intern</mat-slide-toggle>

      </app-expansion-panel>

      <mat-divider></mat-divider>

      <app-expansion-panel title="Skill level">
        <div class="checkBox">
          <mat-checkbox>Beginner</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox>Intermediate</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox>Expert</mat-checkbox>
        </div>
      </app-expansion-panel>

      <mat-divider></mat-divider>

      <app-expansion-panel title="Payment type">
        <mat-radio-group aria-label="Select an option">
          <div class="checkBox">
            <mat-radio-button value="23251">Hourly</mat-radio-button>
          </div>
          <div class="checkBox">
            <mat-radio-button value="1702">Budget</mat-radio-button>
          </div>
          <div class="checkBox">
            <mat-radio-button value="21975">Salary</mat-radio-button>
          </div>
          <div class="checkBox">
            <mat-radio-button value="219751111">No Reward</mat-radio-button>
          </div>
        </mat-radio-group>
      </app-expansion-panel>

      <mat-divider></mat-divider>

      <app-expansion-panel title="Payment rate">
        <div class="paymentRate">
          <div>
            <app-input width="small" placeholder="min" iconPrefix="$"></app-input>
          </div>
          <div><mat-icon >-</mat-icon></div>
          <div>
            <app-input width="small" placeholder="max" iconPrefix="$"></app-input>
          </div>

        </div>

        <mat-slide-toggle>Interval rate</mat-slide-toggle>
      </app-expansion-panel>
    </div>
  </div>

  <app-footer></app-footer>
</div>
