<mat-form-field class="inputContainer"  [ngClass]="'width-' + width" appearance="outline">
  <span matPrefix class=""><mat-icon>{{iconPrefix}}</mat-icon></span>
  <input matInput [placeholder]="placeholder" class="inputText" >
</mat-form-field>
