@import '../../../styles/variables.scss';

.inputContainer{
  color: $element-color;
}

.width-large{
  width: 100%;
}

.width-small{
  width: 7em;
}

.inputText{
  color: $element-color;
}


:host ::ng-deep div.mat-form-field-outline-start{
  border-color: $element-color !important;
}

:host ::ng-deep .mat-form-field-outline-gap{
  border-color: $element-color !important;
}

:host ::ng-deep .mat-form-field-outline-end{
  border-color: $element-color !important;
}
