*{
  box-sizing: border-box;
}

#mainComp{
  background-color:#e5e5e5;
  height:100vh;
  width:100vw;
  margin:0;
  padding: 0;

  display: grid;
  grid-template-columns: 10px 350px 1fr 350px 1fr 350px 10px 4fr;
  grid-template-rows: 30px 1fr 30px;
  grid-template-areas: ". . . . . . . ."
                        ". categoryFilter . filter . searchByTitle . resultJson"
                        ". . . . . . . .";
}

.result{
  background-color: gray
}
