<div id="mainComp">
  <div style="grid-area: categoryFilter">
    <app-screen-search-category></app-screen-search-category>
  </div>
  <div style="grid-area: filter">
    <app-screen-filter-main></app-screen-filter-main>
  </div>
  <div style="grid-area: searchByTitle">
    <app-screen-search-by-title></app-screen-search-by-title>
  </div>
  <div class="result" style="grid-area: resultJson"></div>
</div>
