@import '../../../styles/variables.scss';

.autocompleteComponent{
  width: stretch;
}

.inputText{
  color: $element-color;
}


:host ::ng-deep div.mat-form-field-outline-start{
  border-color: $element-color !important;
}

:host ::ng-deep .mat-form-field-outline-gap{
  border-color: $element-color !important;
}

:host ::ng-deep .mat-form-field-outline-end{
  border-color: $element-color !important;
}

.mat-option-text{
  width: stretch;
}
