<form>
  <mat-form-field class="autocompleteComponent" appearance="outline">
    <span matPrefix class="iconPrefix"><mat-icon>{{iconPrefix}}</mat-icon></span>
    <input matInput [placeholder]="placeholder" class="inputText" [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <mat-icon class="iconAutocompl">{{iconPrefix}}</mat-icon>
        <span class="textAutocompl">{{option}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
