<div class="screen">
  <app-header title="Search category"></app-header>

  <div class="screenData">
    <div class="containerScreenData">

      <div class="mtb-1">
        <mat-chip-list>
          <app-chip title="Doctor"></app-chip>
          <app-chip title="Teacher"></app-chip>
        </mat-chip-list>
      </div>


      <app-input placeholder="Search category" iconPrefix="search"></app-input>

      <app-expansion-panel title="Job type">
        <div class="checkBox">
          <mat-checkbox>Doctor</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Teacher</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Fittness</mat-checkbox>
        </div>

      </app-expansion-panel>


      <app-expansion-panel title="Healthcare">
        <div class="checkBox">
          <mat-checkbox>Doctor</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Teacher</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Fittness</mat-checkbox>
        </div>

      </app-expansion-panel>

      <app-expansion-panel title="Legal">
        <div class="checkBox">
          <mat-checkbox>Doctor</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Teacher</mat-checkbox>
        </div>
        <div class="checkBox">
          <mat-checkbox >Fittness</mat-checkbox>
        </div>

      </app-expansion-panel>


    </div>
  </div>

  <app-footer></app-footer>
</div>
