@import '../../../styles/variables.scss';

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $primary-color;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #efefef;
}

::ng-deep .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #efefef;
}
