@import "../../../styles/variables.scss";

.FilterFooter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height:3.5rem;
  align-items: center;
  margin-left: 1rem;
  margin-right:1rem;
}

.btnSave{
  cursor: pointer;
  width:6rem;
  background-color: $primary-color;
  font-size:13px;
  float: right;
}

.btnCancel{
  cursor: pointer;
  color: $primary-color;
  font-size:13px;
  width:auto;
}
