<mat-divider></mat-divider>
<div class="FilterFooter">
  <div>
    <button mat-button class="btnCancel">Cancel</button>
  </div>
  <div>
    <button mat-raised-button color="primary" class="btnSave">Save</button>
  </div>
</div>

